nav {
  margin-bottom: 2rem;
}

.navbar-brand {
  font-weight: 900;
}

.nav-link {
  padding-top: 0.75rem;
  margin-right: 0.1rem;
  font-weight: 700;
  border-bottom: .25rem solid transparent;
}

.nav-link:hover,
.nav-link:focus {
  border-bottom-color: gray;
}

.nav-link.active {
  border-bottom-color: #51f777;
}

main > .container {
  padding: 60px 15px 0;
}

.footer {
  background-color: #f8f9fa;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

pre {
  background-color: #e0e0e0;
  color: black;
  padding: 1rem;
}

blockquote{
  font-size: 1.4em;
  width:60%;
  margin:50px auto;
  font-family:Open Sans;
  font-style:italic;
  color: #555555;
  padding:1.2em 30px 1.2em 75px;
  border-left:.25rem solid #51f777;
  line-height:1.6;
  position: relative;
    background:#f8f9fa!important;
}

blockquote::before{
  font-family:Arial;
  content: "\201C";
  color: rgba(0,0,0,.5);
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

blockquote::after{
  content: '';
}

blockquote span{
  display:block;
  color:#333333;
  font-size: 0.8em;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}

.nav {
  font-weight: 700;
  padding-bottom: 1px;
  border-bottom: 3px solid #f8f9fa!important;

  /* border-bottom: 3px solid #51f777; */
}

.nav-tabs .nav-link.active {
  border-bottom: 3px solid #51f777;
  margin-bottom: -3px;
  color: rgba(0,0,0,.9);
}

.nav-tabs .nav-link {
  color: rgba(0,0,0,.5);
  border: 0px;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
  /* background-color: #f8f9fa!important; */
  margin-bottom: -3px;
  border-bottom: 3px solid gray;
}

.btn-success {
  background-color: #51f777;
  border-color: #51f777;
  /* font-weight: 700; */
  color: black;
}

.btn-success:hover {
  background-color: #51f710;
  /* background-color: #f8f9fa!important; */
  border-color: #51f777;

  color: black;
}


/* copy  */
pre {
  position: relative;
}
pre > a {
  padding: 2px 6px;
  position: absolute;
  right: 4px;
  top: 4px;
}
/* div.highlight:hover .copybtn, div.highlight .copybtn:focus {
    opacity: .3;
}
div.highlight .copybtn:hover {
    opacity: 1;
}
div.highlight {
    position: relative;
} */
