{{define "content"}}
  <h1 class="cover-heading">Documentation</h1>
  <hr/>
  <h3>Install a recipe</h3>
  <pre>curl nopm.sh/terraform | sh</pre>

  <h2>Specify a version to install</h2>
  <pre>curl nopm.sh/terraform@0.11.14 | sh</pre>

  <h2>Search for a recipe</h2>
  <pre>curl nopm.sh/search/terr | sh</pre>

{{end}}
