{{define "content"}}
  <h1 class="cover-heading">Documentation</h1>
  <hr/>
  <p>Install a recipe:</p>
  <pre>curl nopm.sh/terraform | sh</pre>

  <p>Specify a version to install:</p>
  <pre>curl nopm.sh/terraform@0.11.14 | sh</pre>

  <p>Search for a recipe:</p>
  <pre>curl nopm.sh/search/terr</pre>

{{end}}
