{{define "content"}}

Search

<h1 class="cover-heading">{{ len .recipes }} recipe{{ (len .recipes) | plural }}</h1>

<table class="table">
  <!-- <thead class="thead-dark">
  <tr>
  <th scope="col">Name</th>
  <th scope="col">Install instructions</th>
  <th scope="col">Nb of runs</th>
</tr>
</thead> -->
<tbody>
  {{ range .recipes }}
  <tr>
    <th scope="row"><h3><a href="/recipes/{{ .Name }}">{{ .Name }}</a></h3>
      <p>{{.Name}} installer</p>
      {{ range $os, $archs := .Compat }}
      <i class="{{ $os | compatIconName }}" data-toggle="tooltip" data-placement="top" title="{{ $os }} {{ range $arch := $archs }}{{$arch}}{{ end }}"></i>
      {{ end }}

      {{ range $tag := .Tags }}
      <span class="badge badge-secondary">{{ $tag }}</span>
      {{ end }}
    </th>
    <td>
      <pre class="clip">curl nopm.sh/{{ .Name }} | sh</pre>
      <div class="fixed-bottom position-relative">
<small>{{ .Hits}} download{{ .Hits | plural }}</small>
</div>

  </td>
  <td></td>
  <td></td>
</tr>
{{ end }}
</tbody>
</table>
{{end}}
