{{define "sub_content"}}

<div class="row  d-block d-sm-none">
  <div class="col-12">
    <strong>Installation</strong>
    <pre class="clip">curl nopm.sh/{{ .recipe.Name }} | sh</pre>
    <hr/>
  </div>
</div>
<div>
{{ if .recipe.MD }}
      {{ htmlSafe (.recipe.MD | renderMD) }}

{{ else }}
  <h1>{{.recipe.Name}} recipe</h1>
  <a href="https://github.com/nopm-sh/recipes/new/master/?filename={{ .recipe.Name}}.md" class="btn btn-outline-primary">Contribute a readme</a>

{{ end }}
</div>



{{end}}
