{{define "content"}}

<h1 class="cover-heading">Recipes</h1>

<table class="table">
  <!-- <thead class="thead-dark">
  <tr>
  <th scope="col">Name</th>
  <th scope="col">Install instructions</th>
  <th scope="col">Nb of runs</th>
</tr>
</thead> -->
<tbody>
  {{ range .recipes }}
  <tr>
    <th scope="row"><h3><a href="/recipes/{{ .Name }}">{{ .Name }}</a></h3><small><a href="https://github.com/nopm-sh/recipes/blob/master/{{ .Name }}.sh">View recipe code</a></small>
      <br/>
      {{ range $os, $archs := .Compat }}
      <i class="{{ $os | compatIconName }}" data-toggle="tooltip" data-placement="top" title="{{ $os }} {{ range $arch := $archs }}{{$arch}}{{ end }}"></i>
      {{ end }}
    </th>
    <td>
      <pre>curl nopm.sh/{{ .Name }} | sh</pre>


  </td>
  <td></td>
  <td></td>
</tr>
{{ end }}
</tbody>
</table>
{{end}}
