{{define "content"}}

  <h1 class="cover-heading">{{ .recipe.Name }}</h1>

  <div class="card">
    <div class="card-header">
      Readme
    </div>
  <div class="card-body">
  {{ htmlSafe (.recipe.MD | renderMD) }}
  </div>
  </div>

{{end}}
